@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

:root {
    --grey-shadow: 0px 0px 10px 5px #f1f1f1;
}
* {
    margin: 0;
}

h1, h2, h3, p {
    font-family: 'Roboto', sans-serif;
}
body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
video {
    width: 100vw;  
    grid-column: 1 / 13; 
}
video#landscape {
    display: block;
}
video#portrait {
    display: none;
}

#about-container, #projects-container, #welcome-container {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#about-container, #projects-container {
    opacity: 0.6;
    background-color: black;
    color: white;
    /* height: 90vh; */
}

#about-container.displayed, 
#projects-container.displayed,
#welcome-container.displayed {
    display: flex;
}

#welcome-container {
    color: black;
    /* height: 100vh; */
}

#welcome-container h1 {
    font-size: 15em;
    display: none;
}

#welcome-container p {
    font-size: 5em;
    text-align: center;
    display: none;  
}

#welcome-container .show-element{
    display: block;
}

#about-container {
    flex-direction: column;
    padding-top: 5vh;
    /* padding: 3em; */
}

#about-container p {
    margin: 1em;
    margin-left: 2em;
    margin-right: 2em;
}

#projects-container {
    flex-direction: column;
}

#project-listings {
    width: 80vw;
}
.project {
    width: 30vw;
    
}
.project img {
    width: 30vw;
}

p {
    font-size: 1.2em;
}
#menu {
    position: absolute;
    top: 0px;
    left: 35vw;
    height: 10vh;
    width: 30vw;
    /* background-color: orange; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.2em;
    z-index: 2;
}
#menu a {
    color: black;
    width: 6em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
#menu .clicked{
    border-bottom: 1px solid;
    /* animation: 8s 4s infinite ease-out clicked-line; */
}

@keyframes blinker {
    0% {
        color: black;
    }
    40% {
        color: rgba(255, 255, 255, 0.884);
    }
    60% {
        color: rgba(255, 255, 255, 0.637);
    }
    80% {
        color: rgba(255, 255, 255, 0.377);
    }
    100% {
        color: black;
    }
}

@keyframes clicked-line {
    0% {
        border-bottom-color: black;
        color: black;
    }
    40% {
        border-bottom-color: rgba(255, 255, 255, 0.884);
        color: rgba(255, 255, 255, 0.884);
    }
    60% {
        border-bottom-color: rgba(255, 255, 255, 0.637);
        color: rgba(255, 255, 255, 0.637);
    }
    80% {
        border-bottom-color: rgba(255, 255, 255, 0.377);
        color: rgba(255, 255, 255, 0.377);
    }
    100% {
        border-bottom-color: black;
        color: black;
    }
}

@media (orientation: portrait) {
    body {
        grid-template-columns: repeat(6,1fr);
    }
    video {
        grid-column: 1 / 6;
    }
    video#landscape {
        display: none;
    }
    video#portrait {
        display: block;
    }
    #welcome-container h1 {
        font-size: 5em;
    }
    #about-text {
        grid-column: 1 / 6;
        margin: 0.5em;
        margin-top: 0;
    }
    #menu {
        /* border: 1px solid orange; */
        width: 90vw;
        left: 5vw;
    }
    #menu a {
        /* border: 1px solid blue; */
    }
}