@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

:root {
    --grey-shadow: 0px 0px 10px 5px #f1f1f1;
}
* {
    margin: 0;
}

h1, h2, h3, p {
    font-family: 'Roboto', sans-serif;
}
body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
video {
    width: 100vw;  
    grid-column: 1 / 13; 
}
video#landscape {
    display: block;
}
video#portrait {
    display: none;
}

#welcome-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome-container h1 {
    font-size: 15em;
    display: none;
}

#welcome-container p {
    font-size: 5em;
    text-align: center;
    display: none;  
}

#welcome-container .show-element{
    display: block;
}
#my-pic-container {
    grid-column: 4 / 10;
    border: 1px solid grey;
    margin-top: 4em;
    display: flex;
    justify-content: center;
    border-radius: 5%;
    rotate: 45deg;
    background-color: blueviolet;
    z-index: -1;
}
#pic-of-me {
    width: 50vw;
    border-radius: 5%;
    rotate: -45deg;
}

h2 {
    grid-column: 1 / 13;
    text-align: center;
    margin-top: 1em;
    font-size: 2em;
}

h3 {
    grid-column: 4 / 10;
    font-size: 1.75em;
    margin: 0.5em;
}

p {
    font-size: 1.2em;
}
#about-text {
    grid-column: 4 / 10;
}

.project-card {
    grid-column: 3 / 11;
    /* border: 1px solid lightgrey; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* box-shadow: var(--grey-shadow); */
    background-color: white;
    border-radius: 5%;
}
.project-card h3 {
    text-align: center;
    grid-column: 1 / 4;
    color: black;
}
.project-card img {
    width: 30vw;
    border: 1px solid lightgray;
    grid-column: 1 / 2;
    margin: 1em;
}
.project-card p {
    grid-column: 2 / 4;
    padding: 1em;
    color: black;
}

@media (orientation: portrait) {
    body {
        grid-template-columns: repeat(6,1fr);
    }
    video {
        grid-column: 1 / 6;
    }
    video#landscape {
        display: none;
    }
    video#portrait {
        display: block;
    }
    #welcome-container h1 {
        font-size: 5em;
    }
    #pic-of-me {
        grid-column: 1 / 6;
        width: 90vw;
    }
    h3 {
        grid-column: 1 / 6;
        margin-top: 1em;
    }
    #about-text {
        grid-column: 1 / 6;
        margin: 0.5em;
        margin-top: 0;
    }
    .project-card {
        grid-column: 1 / 6;
        margin: 1em;
    }

    .project-card img {
        grid-column: 1 / 4;
        width: 90%;
    }
    .project-card p {
        grid-column: 1 / 4;
    }
}