* {
    margin: 0;
}

video {
    width: 99vw;   
}
video#landscape {
    display: block;
}
video#portrait {
    display: none;
}

@media (orientation: portrait) {
    video#landscape {
        display: none;
    }
    video#portrait {
        display: block;
    }

}